
.titulo {
  width: 100%;
  height: 75px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo .titulo_pagina {
  font-size: 22px;
}

.tiendas_favoritas-grid {
  width: 70%;
  margin: 20px auto;

}

