* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-purple: #6d28d9;
    --primary-purple-dark: #5b21b6;
    --primary-purple-darker: #4c1d95;
    --primary-purple-light: #8b5cf6;
    --primary-purple-lighter: #a78bfa;
    --white: #ffffff;
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
}


body {
    background-color: var(--gray-50);
    color: var(--gray-800);
    line-height: 1.6;
}
