
<div class="login-container">
    <div class="login-header">
        <div class="login-logo">
            <div class="login-logo-square">
                <div class="login-logo-inner">
                    <h1 class="brand form-logo">Luvix</h1>
                </div>
            </div>
        </div>
        <h1 class="login-title">Iniciar Sesión</h1>
        <p class="login-subtitle">Ingresa a tu cuenta para comenzar a vender</p>
    </div>

    <div class="login-card">

      <app-form-sesion></app-form-sesion>

        <p class="signup-text">
            ¿No tienes una cuenta?
            <a href="#" class="signup-link">Regístrate ahora</a>
        </p>

        <div class="divider">
            <div class="divider-line"></div>
        </div>


        <div class="terms-section">
            <p>Al iniciar sesión, aceptas nuestros <a href="#" class="terms-link">Términos de servicio</a> y <a href="#" class="terms-link">Política de privacidad</a>.</p>
        </div>
    </div>
</div>

