.hero {

    height: 200px;
    color: var(--white);
    padding: 5rem 0;
    position: relative;
    background: linear-gradient(to right, var(--primary-purple), var(--primary-purple-darker));
}

.hero-container {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hero-image {
  display: flex;
  position: relative;
}

.hero-image .imagen_perfil {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: var(--gray-900);
}

.hero-container .hero-image .btn-cambiar {
  width: 30px;
  height: 30px;
  font-size: 16px;
  border-radius: 50%;
  border-color: 1px white solid;
  position: absolute;
  top: 75%;
  left: 93%;
  transform: translate(-50%, -50%);
  color: var(--white);
  background-color: var(--primary-purple-darker);
}
