

.datos {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 20px;
}


.datos .nombre_usuario {
  font-size: 24px;
}

.datos .nombre_perfil {
  font-size: 16px;
}


 /* Responsive Design */
@media (min-width: 768px) {

    .hero-grid {
        grid-template-columns: 1fr 1fr;
    }

    .hero-btns {
        flex-direction: row;
    }

}
